:root{
    --bg-color:#fafafa;
    --t-color:#1d1d20;
    --font-size: 16px;
    --bg-color-main-area:hsl(0, 0%, 95%);
    --max-width: 800px;
}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,
samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,
th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,
mark,audio,video {
    border:0;
    font:inherit;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}
html, body {
    background: var(--bg-color);
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: var(--font-size);
    color: var(--t-color);
}

* {box-sizing: border-box;}

.clear {
    padding: 5px;
    clear: both;
}
.main_area{
    width: 90%;
    max-width:var(--max-width);
    background: var(--bg-color-main-area);
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.long_text{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: 6 3 3;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-zone: 8%;
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
}
/****************************************************Header****************************************************/
#header{
    padding-top: 20px;
    top: 0;
    position:relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 30px;
}


#avatar {
    width: 12.5%;
    float: left;
    margin-right: 30px;
}
#avatar img {
    width: 100%;
    height: auto;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
#PersonalData {
    float: left;
}
#contactData {
    float: right;
}
#contactData ul {
    list-style-type: none;
    font-size: 0.9em;
    margin-top: 2px;
}
#contactData ul li {
    margin-bottom: 3px;
    color: hsl(0, 0%, 27%);
}

/****************************************************Header END****************************************************/

/****************************************************body**********************************************************/
section {
    border-top: 1px solid hsl(0, 0%, 87%);
    padding: 10px 0 0;
}

#cv{
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sectionTitle {
    float: left;
    width: 20%;
}
.sectionContent {
    float: right;
    width: 77.5%;
}
.sectionContent article{
    padding-bottom: 5px;
}
h1 {
    font-family: Helvetica, 'Montserrat', Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    color: var(--t-color);
}
.HSkills {
    column-count:3;
    list-style: none;
}
.HSkills li:before {
    content: "- ";
}

.SSkills {
    column-count:2;
    list-style: none;
}
.SSkills li:before {
    content: "- ";
}

.experience{

}
.experience h1{
    font-size: 18px;
}
.experience h2{
    font-size: 12px;
}
.experience summary {
    list-style: none;
    outline: none;
}
.experience details summary::-webkit-details-marker {
    display: none;
}
.experience details > summary {
    list-style: none;
}
.experience summary:after {
    content: " \25b6";
    font-size: .7em;
}
.experience details[open] summary:after {
    content: " \25bc";
}
.experience li{
    list-style: none;
    padding-left:30px;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;

}
.experience li:before {
    content: "- ";
}
.experience ul{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px

}

.education{

}
.education h1{
    font-size: 18px;
    padding-bottom: 3px;
}
.education h2{
    font-size: 14px;
}

.footnote{
    font-size: 12px;
    font-style: italic;
}
#fullLengthOfService{
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#fullLengthOfService h1{
    font-size: 16px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    text-align: left;
}
#fullLengthOfService h2{
    font-size: 10px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
#fullLengthOfService .sectionContent{
    font-size: 16px;

}
#fullLengthOfService .sectionContent p{
    font-size: 14px;
}

/****************************************************Footer****************************************************/
/*кнопки и поп ап в footer*/

.btn{
    background-color: #555;
    font-size:12px;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    width: 330px;
}


/*ButtonOptions*/
.btn-circle{
    color: white;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    font-size: 0;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid #555;
}
/*ico*/
.btn-circle-ico-pdf {
    display: none;
    background: url(../res/pic/ico-export_pdf.png) no-repeat center center ;
}
.btn-circle-ico-meeting{
    background: url(../res/pic/ico-timetable.png) no-repeat center center ;
}
.btn-on-text{
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}
/*id*/
#getPDF{
    display: none;
    bottom: 90px;
    right: 28px;
}
#setMeeting{
    bottom: 30px;
    right: 28px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.form-container {
    max-width: 350px;
    padding: 10px;
    background-color: white;
}
.form-container h3{
     width: 50%;
     padding: 3px;
     border: none;
     float: left;
 }
.form-container input[type=date], .form-container input[type=time] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    float: left;
    font-size: 13px;
}
.form-container input[type=tel], .form-container input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.form-container .btn-on-form {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
.form-container .cancel {
    background-color: red;
}
.form-container .btn-on-form:hover, .open-button:hover {
    opacity: 1;
}
.signature{
    margin-right: 10px;
    color: hsl(40, 95%, 42%);
    font-size: 10px;
    font-style: italic;
    text-align: right;

}
/***************************************************Footer END*********************************************************/

/***************************************************Animation *********************************************************/
@media all and (min-width: 602px) and (max-width: 800px) {
    #avatar {
        display: none;
    }

    .HSkills {
        -moz-column-count:2;
        -webkit-column-count:2;
        column-count:2;
    }
    .SSkills {
        -moz-column-count:2;
        -webkit-column-count:2;
        column-count:2;
    }
}
@media all and (max-width: 601px) {
    #cv {
        width: 95%;
        margin: 10px auto;
        min-width: 280px;
    }

    #avatar {
        display: none;
    }

    #PersonalData, #contactData, #header  {
        float: none;
        width: 100%;
        text-align: center;
    }

    .sectionTitle, .sectionContent {
        float: none;
        width: 100%;
    }

    .sectionTitle {
        margin-left: -2px;
        font-size: 1.25em;
    }

    .HSkills, .SSkills{
        -moz-column-count:2;
        -webkit-column-count:2;
        column-count:2;
    }
}
@media all and (max-width: 480px) {
    .mainDetails {
        padding: 15px 15px;
    }

    section {
        padding: 15px 0 0;
    }

    .main_area {
        padding: 0 25px;
    }


    .HSkills, .SSkills {
        -moz-column-count:1;
        -webkit-column-count:1;
        column-count:1;
    }

    #PersonalData h1 {
        line-height: .8em;
        margin-bottom: 4px;
    }
}
@media print {
    #cv {
        width: 100%;
    }
}
@-webkit-keyframes reset {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes reset {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes reset {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;

    -moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;

    animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}
.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;

    -moz-animation-name: reset, fade-in;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: ease-in;

    animation-name: reset, fade-in;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}
/*DirtyTrick*/
/*noinspection ALL*/
.delayOne {
    -webkit-animation-delay: 0, 0.5s;
    -moz-animation-delay: 0, 0.5s;
    animation-delay: 0, 0.5s;
}
/*noinspection ALL*/
.delayTwo {
    -webkit-animation-delay: 0, 1s;
    -moz-animation-delay: 0, 1s;
    animation-delay: 0, 1s;
}
/*noinspection ALL*/
.delayThree {
    -webkit-animation-delay: 0, 1.5s;
    -moz-animation-delay: 0, 1.5s;
    animation-delay: 0, 1.5s;
}
/*noinspection ALL*/
.delayFour {
    -webkit-animation-delay: 0, 2s;
    -moz-animation-delay: 0, 2s;
    animation-delay: 0, 2s;
}
/*noinspection ALL*/
.delayFive {
    -webkit-animation-delay: 0, 2.5s;
    -moz-animation-delay: 0, 2.5s;
    animation-delay:0, 2.5s;
}

/***************************************************Animation END*******************************************************/

